@font-face{
    font-family: 'ReemKufi' ;
    src: url(../fonts/ReemKufi-Regular.ttf);
}

@font-face{
    font-family: 'ReenieBeanie' ;
    src: url(../fonts/ReenieBeanie-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'ReemKufi';
    color: white;
}

a{
    text-decoration: none;
    color: rgb(252, 252, 252);
    font-weight: lighter;
    
}

a:hover{
    transition: 1s;
}

h5{
    font-size: 19pt;
    font-weight: 100;
    text-align: center;
    margin: 20px 0px;
    letter-spacing: 0.5pt;
}

h6{
    font-size: 14pt;
    font-weight: 100;
    
}

p{
    font-size: 11pt;
    font-weight: 100;
}

div{
    font-size: 15pt;
}

body{
    background-color: #A1A2A7;
    background-image: url(/images/backgrounds/bg-lines.png);
    background-size: auto;
    background-repeat: no-repeat;
}

header{
    background-image: url(/images/backgrounds/bg-top.png);
    /* height: 100%; */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 60px 0px;
    
}

header>div:nth-last-child(){
    align-content: center;
}

/*TOP NAV*/
.top_nav{
 flex: 0 1 auto;
 /* padding-right: 50px; */
}

.top_nav{
    margin: auto;
    margin-top: 0px;
}
.top_nav>ul>li{
display: inline-block;
padding: 10px;
font-size: 10pt;
}

.top_nav>ul>li:hover{
    font-size: 11pt;
    transition: 0.1s;
    padding: 9px;
}

.avatar{
     
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.avatar>div{
    flex: 0 1 auto;
}

.main_foto{
    display: block;
    background-image: url(/images/avatar.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.name_web{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;

}
.name{
    font-size: 5em;
    font-family: 'ReenieBeanie' ;
    font-weight: 100;
}

.web{
    align-self: flex-end;
    margin-top: -20px;
    font-weight:100;
}

/* MAIN BLOCK */

.main_block{
    /* height: 500px; */
    width: 40%;
    margin: auto;
    background-color: #3D5065;
    opacity: 0.89;
    padding: 50px 5% 70px 5%;
}

.main_block>div{
    /* margin-bottom: 30px; */
}

.hello_block{
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.hello_block>div{
    flex: 0 1 auto;
}

.hello_block>div>h5{
    /* margin: 0px; */
}

.hello_block>div>p{
    margin: auto;
    width: 80%;
    align-items: center;
    text-align: center;
    /* margin-top: 20px; */
}

.what_can_i_block>div:nth-of-type(1){
    /* margin-bottom: 20px; */
}

.design{
    min-height: 80px;
    margin-bottom: 25px;
}

.fullStack{
    /* margin: 0px 30px 0px 50px; */
    /* margin-bottom: 50px; */
    min-height: 80px;
}

.fullStack>div>h6, .fullStack>div>p{
    text-align: right;
}

.skills_block>div:nth-of-type(1){
    float: left;
}


.skills_block{
    margin-bottom: 20px;
    min-height: 80px;
}

.contacts{
    /* margin-bottom: 10px; */
}

.social{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.social>a{
    margin: 0px 5px;
}

footer{
    width: 100%;
    height: 50px;
    background-color: rgba(125, 125, 125, 0.3);
    margin-top: -50px;
    text-align: center;
    /* padding:0px 10px 0px 5px; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;

}
footer>div{
    font-size: 10pt;
}

/* */

.imageFirst{
    background-image: url(/images/icons/gdpr-white.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-size: contain;

}

.designIcon{
    background-image: url(/images/icons/web-design-wite.png);
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    float: left;
    background-size: contain;
    margin-right: 20px;
}

.fullStackIcon{
    background-image: url(/images/icons/coding-white.png);
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-size: contain;
    float: right;
    margin-left: 20px;
}

.psIcon{
    background-image: url(/images/icons/Ps.png);
    background-repeat: no-repeat;
    /* width: 50px; */
    height: 80px;
    width: 80px;
    /* height: 50px; */
    background-size: contain;
    margin-right: 20px;
    
    
}

.aiIcon{
    background-image: url(/images/icons/Ai.png);
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-size: contain;
    margin-right: 20px;
}

.prIcon{
    background-image: url(/images/icons/Pr.png);
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-size: contain;
    margin-right: 20px;
}

.vk{
    background-image: url(/images/icons/vk.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-size: contain;
}

.inst{
    background-image: url(/images/icons/instagram.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-size: contain;
}

.email{
    background-image: url(/images/icons/email.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-size: contain;
}